* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  line-height: 1.2;
}

.logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.mobile-nav > a {
  display: none;
}

.mobile-nav .closebtn {
  font-size: 25px;
  display: none;
  z-index: 1;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 4px 0 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 0 20px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 200px 120px 120px 120px;
}

#intro .intro-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#intro .intro-item img {
  width: 80%;
}

#intro .intro-item h1 {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: bolder;
  color: white;
}

#intro .intro-item h1 span {
  color: #74b5fc;
  text-decoration: underline;
}

#intro .intro-item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#intro .intro-item .buttons button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

#intro .intro-item .buttons button:first-child {
  border: 2px solid #035cbb;
  background: #035cbb;
  color: #fff;
}

#intro .intro-item .buttons button:first-child:hover {
  border: 2px solid #fff;
  color: #035cbb;
  background: transparent;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
}

#intro .intro-item .buttons button:last-child {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

#intro .intro-item .buttons button:last-child:hover {
  border: 2px solid #035cbb;
  background: #035cbb;
  -webkit-transition: 1s;
  transition: 1s;
}

#about {
  background: #fff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about-header {
  text-align: center;
}

#about .about-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#about .about-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-bottom: 2rem;
}

.about-reverse-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  padding-bottom: 2rem;
}

.about-img > img {
  max-width: 100%;
  height: auto;
}

.about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3rem;
}

.about-item p {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 26px;
  width: 90%;
}

.about-item h5 {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}

.list div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #035cbb;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list div .icon .fa-shopping-bag {
  color: #035cbb;
  font-size: 25px;
}

.list div .icon .fa-image {
  color: #035cbb;
  font-size: 25px;
}

.list div .icon .fa-chart-bar {
  color: #035cbb;
  font-size: 25px;
}

.list div h4 {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

.list div p {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
  width: 85%;
}

#service {
  background: #ecf5ff;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#service .service-header {
  text-align: center;
}

#service .service-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#service .service-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

#service .service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

#service .service-items > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  bottom: 0px;
  cursor: pointer;
}

#service .service-items > div:hover {
  background: #f1f1f1;
  bottom: 10px;
}

#service .service-items > div .serv-icon {
  position: absolute;
  left: 10px;
}

#service .service-items > div .serv-icon .fa-chart-pie {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff689b;
}

#service .service-items > div .serv-icon .fa-bookmark {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #e9bf06;
}

#service .service-items > div .serv-icon .fa-sticky-note {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #3fcdc7;
}

#service .service-items > div .serv-icon .fa-tachometer-alt {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #41cf2e;
}

#service .service-items > div .serv-icon .fa-globe {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d6ff22;
}

#service .service-items > div .serv-icon .fa-clock {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #4680ff;
}

#service .service-items > div h3 {
  margin-left: 80px;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 18px;
}

#service .service-items > div p {
  font-size: 14px;
  margin-left: 80px;
  line-height: 24px;
  margin-bottom: 0;
}

#choose {
  padding: 60px 0;
  background: #004a99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#choose .choose-header {
  text-align: center;
}

#choose .choose-header h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#choose .choose-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #fff;
  width: 40%;
}

#choose .choose-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#choose .choose-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

#choose .choose-block > div .choose-items {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 29%;
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  bottom: 0px;
  cursor: pointer;
}

#choose .choose-block > div .choose-items:hover {
  background: #013a77;
  bottom: 10px;
}

#choose .choose-block > div .choose-items .fa-gem {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items .fa-language {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items .fa-object-group {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

#choose .choose-block > div .choose-items > div h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#choose .choose-block > div .choose-items > div p {
  font-size: 15px;
  color: #d8eafe;
  padding: 0;
  margin: 0 0 30px 0;
}

#choose .choose-block > div .choose-items > div a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#choose .choose-block > div .choose-items > div a:hover {
  border-bottom: #00458f solid 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#choose .choose-block .numbers {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#choose .choose-block .numbers > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  text-align: center;
}

#choose .choose-block .numbers > div > span {
  font-weight: bolder;
  font-size: 48px;
  display: block;
  color: #fff;
}

#choose .choose-block .numbers > div > p {
  padding: 1rem;
  font-size: 14px;
  color: #cce5ff;
}

#portfolio {
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio .portfolio-header {
  text-align: center;
}

#portfolio .portfolio-header h2 {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#portfolio .portfolio-header > div {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio .portfolio-header > div :first-child {
  background: #035cbb;
  color: #ecf5ff;
}

#portfolio .portfolio-header > div button {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #035cbb;
  background: #ecf5ff;
  border-radius: 50px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
}

#portfolio .portfolio-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .portfolio-items > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 30%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#portfolio .portfolio-items > div:hover .portfolio-info {
  opacity: 1;
}

#portfolio .portfolio-items > div:hover img {
  opacity: 0.75;
}

#portfolio .portfolio-items > div > img {
  border-radius: 10%;
  max-width: 100%;
  height: auto;
}

#portfolio .portfolio-items > div .portfolio-info {
  position: absolute;
  top: 6px;
  right: 16px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#portfolio .portfolio-items > div .portfolio-info > h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#portfolio .portfolio-items > div .portfolio-info > p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 900;
}

#portfolio .portfolio-items > div .portfolio-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#portfolio .portfolio-items > div .portfolio-info > div > div {
  position: relative;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #035cbb;
  border-radius: 50%;
}

#portfolio .portfolio-items > div .portfolio-info > div > div .fa-eye {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-items > div .portfolio-info > div > div .fa-external-link-alt {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 6px;
  font-size: 22px;
  color: #fff;
}

#testim {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testim h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin-bottom: 40px;
}

#testim > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#testim > div .testim-item {
  margin-bottom: 30px;
  width: 60%;
}

#testim > div .testim-item img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
  margin: 10px;
}

#testim > div .testim-item h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testim > div .testim-item span {
  font-size: 14px;
  color: #999;
  padding: 0 0 15px 0;
}

#testim > div .testim-item blockquote {
  font-style: italic;
}

#team {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .team-header {
  text-align: center;
}

#team .team-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#team .team-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 40%;
}

#team .team-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

#team .team-block > div {
  margin-left: 6px;
  margin-right: 6px;
}

#team .team-block > div > .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

#team .team-block > div > .member:hover .member-info {
  margin-top: 50px;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  opacity: 1;
}

#team .team-block > div > .member:hover .layer {
  background: rgba(0, 62, 128, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#team .team-block > div > .member > img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

#team .team-block > div > .member .member-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

#team .team-block > div > .member .member-info > h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .team-block > div > .member .member-info > span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .team-block > div > .member .member-info .icons {
  margin-top: 15px;
}

#team .team-block > div > .member .member-info .icons > a {
  -webkit-transition: none;
  transition: none;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  margin: 0 2px;
}

#client {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#client .client-header {
  text-align: center;
}

#client .client-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#client .client-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

#client .client-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
  margin: 0 30px;
}

#client .client-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  cursor: pointer;
}

#client .client-item:hover img {
  max-width: 60%;
}

#client .client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#client .client-logo > img {
  max-width: 50%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-header {
  text-align: center;
}

#contact .contact-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 30px 0;
}

#contact .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact .contact-item {
  width: 45%;
  padding: 10px;
}

#contact .contact-item iframe {
  border: 0;
  width: 100%;
  height: 312px;
}

#contact .contact-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#contact .contact-item div div {
  max-width: 50%;
  color: #283d50;
  position: relative;
}

#contact .contact-item div div .fa-map-marker-alt {
  font-size: 25px;
  color: #035cbb;
  float: left;
  line-height: 1;
}

#contact .contact-item div div .fa-envelope {
  font-size: 25px;
  color: #035cbb;
  float: left;
  line-height: 1;
}

#contact .contact-item div div .fa-phone-alt {
  font-size: 25px;
  color: #035cbb;
  float: left;
  line-height: 1;
}

#contact .contact-item div div p {
  padding: 0 0 10px 10px;
  line-height: 28px;
  font-size: 13px;
}

#contact .contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .first-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .first-input div {
  width: 100%;
}

#contact .first-input div .input {
  width: 100%;
}

#contact .input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

#contact .input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

#contact textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #127fec;
  border: 1px solid #ced4da;
}

#contact .submit {
  background: #035cbb;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contact .submit:hover {
  border: 2px solid #035cbb;
  color: #035cbb;
  background: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

#links {
  background: #004a99;
  color: #eee;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}

#links div {
  background: #004a99;
  padding: 60px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#links .biz-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 29%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#links .biz-block h1 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
}

#links .biz-block p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf5ff;
}

#links .links-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  max-width: 17%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#links .links-block h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 20px 0;
}

#links .links-block ul {
  list-style: none;
}

#links .links-block ul li {
  padding: 8px 0;
}

#links .contactus-block {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

#links .contactus-block h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

#links .contactus-block .icons {
  margin-top: 15px;
}

#links .contactus-block .icons > a {
  -webkit-transition: none;
  transition: none;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  margin: 0 2px;
}

#links .social {
  color: #eee;
  font-size: 14px;
}

#links .social a {
  font-size: 18px;
  display: inline-block;
  background: #035cbb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

#links .news-block {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 35%;
}

#links .news-block h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#links .news-block p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf5ff;
}

#links .news-block .footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 40px;
}

#links .news-block .footer-form input {
  border: 0;
  padding: 6px 8px;
  width: 60%;
}

#links .news-block .footer-form button {
  background: #035cbb;
  border: 0;
  width: 30%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

footer {
  background: #00428a;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

@media all and (max-width: 767px) {
  .logo img {
    padding: 1px;
    margin: 7px 0;
    max-height: 26px;
    width: 50%;
  }
  .mobile-nav a {
    display: block;
    position: relative;
    width: auto;
    font-size: 25px;
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
  .mobile-nav .closebtn {
    position: relative;
    top: 0;
    left: 80px;
    display: block;
    width: auto;
    font-size: 55px;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
  .mobile-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    width: 0;
    padding-top: 18px;
    background: rgba(19, 39, 57, 0.8);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .mobile-nav .nav-list a {
    display: block;
    position: relative;
    color: #ffffff;
    background: transparent;
    padding: 15px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
  #intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding: 150px 20px 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #intro .intro-item {
    width: 100%;
  }
  #intro .intro-item img {
    width: 90%;
  }
  #intro .intro-item h1 {
    width: 90%;
    text-align: center;
    font-size: 34px;
    padding-bottom: 30px;
  }
  #intro .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .about-header p {
    width: 80%;
  }
  #about .about-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about .about-reverse-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about .about-img > img {
    padding: 2.5rem;
    max-width: 80%;
    height: auto;
  }
  #about .about-item {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
  }
  #about .about-item p {
    width: 100%;
    font-size: 1.02rem;
  }
  #about .list div p {
    font-size: 14px;
  }
  #service .service-header p {
    width: 90%;
  }
  #service .service-items {
    padding-left: 1%;
    padding-right: 1%;
  }
  #choose .choose-header p {
    width: 90%;
  }
  #choose .choose-block {
    padding-left: 1%;
    padding-right: 1%;
  }
  #choose .choose-block > div {
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #choose .choose-block > div .choose-items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 100%;
  }
  #choose .choose-block .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }
  #choose .choose-block .numbers > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  #portfolio .portfolio-items > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 100%;
  }
  #testim .testim-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #testim .testim-block .testim-item {
    width: 80%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #testim .testim-block .testim-item img {
    float: none;
    margin: auto;
  }
  #team .team-header p {
    width: 85%;
  }
  #team .team-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #client .client-header p {
    width: 85%;
  }
  #client .client-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #client .client-block .client-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 100%;
  }
  #contact {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #contact .contact-item {
    width: 90%;
  }
  #contact .submit {
    background: #035cbb;
    border: 0;
    border-radius: 20px;
    padding: 8px 20px;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    outline: none;
  }
  #links div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 30px 0;
  }
  #links .biz-block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 90%;
  }
  #links .biz-block h1 {
    padding: 1rem;
  }
  #links .links-block {
    -webkit-box-flex: 1%;
        -ms-flex: 1%;
            flex: 1%;
    max-width: 100%;
  }
  #links .contactus-block {
    -webkit-box-flex: 1%;
        -ms-flex: 1%;
            flex: 1%;
    max-width: 100%;
  }
  #links .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #links .news-block {
    -webkit-box-flex: 1%;
        -ms-flex: 1%;
            flex: 1%;
    max-width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    padding: 1px;
    margin: 7px 0;
    max-height: 40px;
    width: 70%;
  }
  .mobile-nav a {
    display: block;
    position: relative;
    width: auto;
    font-size: 35px;
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
  .mobile-nav .closebtn {
    position: relative;
    top: 0;
    left: 80px;
    display: block;
    width: auto;
    font-size: 65px;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
  .mobile-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    width: 0;
    padding-top: 18px;
    background: rgba(19, 39, 57, 0.8);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .mobile-nav .nav-list a {
    display: block;
    position: relative;
    color: #ffffff;
    background: transparent;
    padding: 15px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */