* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 1s;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  line-height: 1.2;
}

@mixin secMarPad {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin flexbox($way) {
  display: flex;
  flex: wrap;
  flex-direction: $way;
}

@mixin icon {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.logo {
  img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
  }
}

.mobile-nav {
  > a {
    display: none;
  }
  > span {
    font-size: 25px;
    display: none;
    z-index: 1;
  }
}

nav {
  position: fixed;
  @include flexbox(row);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  box-shadow: 4px 0 20px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-list {
  @include flexbox(row);
  align-items: center;
  list-style: none;

  a {
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
}

// INTRO SECTION

#intro {
  @include flexbox(row);
  position: relative;
  width: 100%;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 200px 120px 120px 120px;

  .intro-item {
    @include flexbox(column);
    width: 50%;

    img {
      width: 80%;
    }

    h1 {
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: bolder;
      color: white;

      span {
        color: #74b5fc;
        text-decoration: underline;
      }
    }

    .buttons {
      @include flexbox(row);
      width: 100%;

      button {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 32px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 0 20px 20px 0;
        cursor: pointer;
      }

      button:first-child {
        border: 2px solid #007bff;
        background: #007bff;
        color: #fff;
        &:hover {
          border: 2px solid #fff;
          color: #007bff;
          background: transparent;
          transition: 1s;
          color: #fff;
        }
      }

      button:last-child {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;

        &:hover {
          border: 2px solid #007bff;
          background: #007bff;
          transition: 1s;
        }
      }
    }
  }
}

// ABOUT SECTION

#about {
  background: #fff;
  padding: 60px 0;
  width: 100%;
  @include flexbox(column);

  .about-header {
    text-align: center;
    h2 {
      font-size: 36px;
      color: #283d50;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    p {
      margin: auto;
      font-size: 15px;
      padding-bottom: 60px;
      color: #556877;
      width: 50%;
    }
  }
}
.about-row {
  @include flexbox(row);
  position: relative;
  padding-bottom: 2rem;
}

.about-reverse-row {
  @include flexbox(row-reverse);
  position: relative;
  padding-bottom: 2rem;
}

.about-img > img {
  max-width: 100%;
  height: auto;
}

.about-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3rem;

  p {
    font-size: 1rem;
    padding: 0;
    margin: 0 0 30px 0;
    line-height: 26px;
    width: 90%;
  }

  h5 {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.list {
  div {
    .icon {
      display: flex;
      float: left;
      background: #fff;
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 50%;
      border: 2px solid #007bff;
      transition: all 0.3s ease-in-out;
      .fa-shopping-bag {
        color: #007bff;
        font-size: 25px;
      }
      .fa-image {
        color: #007bff;
        font-size: 25px;
      }
      .fa-chart-bar {
        color: #007bff;
        font-size: 25px;
      }
    }

    h4 {
      margin-left: 80px;
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 18px;
      color: #333;
    }

    p {
      margin-left: 80px;
      line-height: 24px;
      font-size: 14px;
      width: 85%;
    }
  }
}

#service {
  background: #ecf5ff;
  padding: 60px 0;
  @include flexbox(column);
  width: 100%;

  .service-header {
    text-align: center;

    h2 {
      font-size: 36px;
      color: #283d50;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    p {
      margin: auto;
      font-size: 15px;
      padding-bottom: 60px;
      color: #556877;
      width: 50%;
    }
  }

  .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;

    > div {
      flex: 1 1 40%;
      padding: 30px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 10px 40px 10px;
      background: #fff;
      box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
      transition: 0.5s ease-in-out;
      bottom: 0px;
      cursor: pointer;
      &:hover {
        background: rgb(200, 200, 200);
        bottom: 10px;
      }

      .serv-icon {
        position: absolute;
        left: 10px;

        .fa-chart-pie {
          @include icon;
          color: #ff689b;
        }
        .fa-bookmark {
          @include icon;
          color: #e9bf06;
        }
        .fa-sticky-note {
          @include icon;
          color: #3fcdc7;
        }
        .fa-tachometer-alt {
          @include icon;
          color: #41cf2e;
        }
        .fa-globe {
          @include icon;
          color: #d6ff22;
        }
        .fa-clock {
          @include icon;
          color: #4680ff;
        }
      }

      h3 {
        margin-left: 80px;
        font-weight: 900;
        margin-bottom: 15px;
        font-size: 18px;
      }

      p {
        font-size: 14px;
        margin-left: 80px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}

#choose {
  padding: 60px 0;
  background: #004a99;
  width: 100%;
  @include flexbox(column);

  .choose-header {
    text-align: center;

    h2 {
      font-size: 36px;
      color: #fff;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    p {
      margin: auto;
      font-size: 15px;
      padding-bottom: 60px;
      color: #fff;
      width: 40%;
    }
  }

  .choose-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > div {
      display: flex;
      flex-wrap: wrap;

      .choose-items {
        position: relative;
        flex: 0 0 30%;
        max-width: 29%;
        background: #00458f;
        border-color: #00458f;
        border-radius: 10px;
        margin: 0 15px;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        margin-bottom: 1.5rem;
        transition: 0.5s ease-in-out;
        bottom: 0px;
        cursor: pointer;
        &:hover {
          background: #013a77;
          bottom: 10px;
        }

        .fa-gem {
          font-size: 48px;
          padding-top: 15px;
          color: #bfddfe;
        }

        .fa-language {
          font-size: 48px;
          padding-top: 15px;
          color: #bfddfe;
        }

        .fa-object-group {
          font-size: 48px;
          padding-top: 15px;
          color: #bfddfe;
        }

        > div {
          flex: 1 1 auto;
          padding: 1.25rem;

          h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0.75rem;
          }

          p {
            font-size: 15px;
            color: #d8eafe;
            padding: 0;
            margin: 0 0 30px 0;
          }
          a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            display: inline-block;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              border-bottom: #00458f solid 2px;
              transition: 0.5s;
            }
          }
        }
      }
    }

    .numbers {
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      > div {
        flex: 1 1 25%;
        max-width: 25%;
        text-align: center;
        > span {
          font-weight: bolder;
          font-size: 48px;
          display: block;
          color: #fff;
        }
        > p {
          padding: 1rem;
          font-size: 14px;
          color: #cce5ff;
        }
      }
    }
  }
}

#portfolio {
  padding: 60px 0;
  width: 100%;
  @include flexbox(column);

  .portfolio-header {
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    > div {
      padding: 0;
      margin: 5px 0 35px 0;
      list-style: none;
      text-align: center;

      :first-child {
        background: #007bff;
        color: #ecf5ff;
      }

      button {
        cursor: pointer;
        margin: 15px 15px 15px 0;
        display: inline-block;
        padding: 6px 20px;
        font-size: 12px;
        line-height: 20px;
        color: #007bff;
        background: #ecf5ff;
        border-radius: 50px;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
        border: none;
      }
    }
  }

  .portfolio-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > div {
      position: relative;
      flex: 0 0 33%;
      max-width: 30%;
      height: auto;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        .portfolio-info {
          opacity: 1;
        }
      }

      > img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
      }

      .portfolio-info {
        position: absolute;
        top: 6px;
        right: 16px;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 0;

        > h4 {
          font-size: 22px;
          font-weight: 700;
          color: white;
        }
        > p {
          font-size: 15px;
          padding: 0;
          margin: 0;
          color: #e2effe;
          font-weight: 900;
        }
        > div {
          @include flexbox(row);

          > div {
            position: relative;
            text-align: center;
            width: 36px;
            height: 36px;
            background: #007bff;
            border-radius: 50%;

            .fa-eye {
              position: absolute;
              top: 6px;
              right: 0;
              bottom: 0;
              left: 6px;
              font-size: 22px;
              color: #fff;
            }
            .fa-external-link-alt {
              position: absolute;
              top: 6px;
              right: 0;
              bottom: 0;
              left: 6px;
              font-size: 22px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#testim {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  @include flexbox(column);

  h2 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-bottom: 40px;
  }

  > div {
    @include flexbox(column);
    align-items: center;
    max-width: 100%;

    .testim-item {
      margin-bottom: 30px;
      width: 60%;

      img {
        width: 120px;
        border-radius: 50%;
        border: 4px solid #fff;
        float: left;
        margin: 10px;
      }

      h5 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
      }

      span {
        font-size: 14px;
        color: #999;
        padding: 0 0 15px 0;
      }

      blockquote {
        font-style: italic;
      }
    }
  }
}

#team {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  @include flexbox(column);

  .team-header {
    text-align: center;

    h2 {
      font-size: 36px;
      color: #283d50;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    p {
      margin: auto;
      font-size: 15px;
      padding-bottom: 60px;
      color: #556877;
      width: 40%;
    }
  }
  .team-block {
    @include flexbox(row);
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;

    div {
      margin-left: 6px;
      margin-right: 6px;

      > .member {
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        &:hover .member-info {
          margin-top: 50px;
          transition: margin 0.5s;
          opacity: 1;
        }
        &:hover img {
          opacity: 0.7;
        }

        > img {
          max-width: 100%;
          height: auto;
        }

        .member-info {
          @include flexbox(column);
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          transition: 0.2s;
          opacity: 0;

          > h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            color: #fff;
          }

          > span {
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #fff;
          }
          .icons {
            margin-top: 15px;
            > a {
              transition: none;
              color: #fff;
              text-decoration: none;
              background-color: transparent;
              font-size: 18px;
              margin: 0 2px;
            }
          }
        }
      }
    }
  }
}

#client {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  @include flexbox(column);

  .client-header {
    text-align: center;

    h2 {
      font-size: 36px;
      color: #283d50;
      font-weight: 600;
      position: relative;
      margin: 0 0 20px 0;
    }
    p {
      margin: auto;
      font-size: 15px;
      padding-bottom: 60px;
      color: #556877;
      width: 50%;
    }
  }

  .client-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin-bottom: 30px;
    margin: 0 30px;
  }

  .client-item {
    flex: 0 0 25%;
    max-width: 25%;
    cursor: pointer;
    &:hover img {
      max-width: 60%;
    }
  }

  .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;

    > img {
      max-width: 50%;
      height: auto;
      transition: all 0.4s ease-in-out;
    }
  }
}

#contact {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  @include flexbox(column);
  @include secMarPad;

  .contact-header {
    text-align: center;

    h2 {
      font-size: 36px;
      color: #283d50;
      font-weight: 600;
      position: relative;
      margin: 0 0 30px 0;
    }
  }

  .contact-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .contact-item {
    flex: 0 0 50%;
    max-width: 50%;

    iframe {
      border: 0;
      width: 100%;
      height: 312px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      div {
        flex: 0 0 41%;
        max-width: 41%;
        color: #283d50;
        position: relative;
        padding-right: 10px;
        padding-left: 10px;

        @mixin formIcon {
          font-size: 25px;
          color: #007bff;
          float: left;
          line-height: 1;
        }

        .fa-map-marker-alt {
          @include formIcon();
        }

        .fa-envelope {
          @include formIcon();
        }

        .fa-phone-alt {
          @include formIcon();
        }

        p {
          padding: 0 0 10px 36px;
          line-height: 28px;
          font-size: 13px;
          margin: 0 0 30px 0;
        }
      }
    }
  }

  .contact-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
  }

  .first-input {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    div {
      .input {
        width: 100%;
      }
    }
  }

  .input-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1rem;
  }
  .input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    display: block;
    width: 85%;
    height: calc(2.25rem + 2px);
    padding: 0 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
  }

  textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    display: block;
    width: 85%;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #127fec;
    border: 1px solid #ced4da;
  }

  .submit {
    background: #007bff;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    align-self: center;
    width: 30%;

    &:hover {
      border: 2px solid #007bff;
      color: #007bff;
      background: transparent;
      transition: 1s;
    }
  }
}

#links {
  background: #004a99;
  color: #eee;
  font-size: 14px;

  margin-right: auto;
  margin-left: auto;

  div {
    background: #004a99;
    padding: 60px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
  }

  @mixin footBlock {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .biz-block {
    flex: 0 0 20%;
    max-width: 29%;
    @include footBlock();
    h1 {
      font-size: 34px;
      margin: 0 0 20px 0;
      padding: 2px 0 2px 0;
      line-height: 1;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-weight: 400;
      letter-spacing: 3px;
    }

    p {
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 0;
      color: #ecf5ff;
    }
  }

  .links-block {
    flex: 0 0 17%;
    max-width: 17%;
    @include footBlock();

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
      margin: 0 0 20px 0;
    }

    ul {
      list-style: none;

      li {
        padding: 8px 0;
      }
    }
  }

  .contactus-block {
    @include footBlock();
    flex: 0 0 25%;
    max-width: 25%;

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      position: relative;
      padding-bottom: 10px;
    }

    .icons {
      margin-top: 15px;
      > a {
        transition: none;
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }

  .social {
    color: #eee;
    font-size: 14px;

    a {
      font-size: 18px;
      display: inline-block;
      background: #007bff;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 20px;
      transition: 0.3s;
      text-decoration: none;
    }
  }

  .news-block {
    @include footBlock();
    flex: 0 0 30%;
    max-width: 35%;

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
    }

    p {
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 0;
      color: #ecf5ff;
    }

    .footer-form {
      @include flexbox(row);
      width: 100%;
      height: 40px;

      input {
        border: 0;
        padding: 6px 8px;
        width: 60%;
      }

      button {
        background: #007bff;
        border: 0;
        width: 30%;
        padding: 6px 0;
        text-align: center;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}

footer {
  background: #00428a;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

@media all and (max-width: 767px) {
   
  .logo {
    img {
      padding: 1px;
      margin: 7px 0;
      max-height: 26px;
      width: 50%;
    }
  }
  
  .mobile-nav {
    a {
      display: block;
      position: relative;
      width: auto;
      font-size: 25px;
      color: black;
      background-color: white;
      cursor: pointer;
      padding: 0.5rem;
  
      span {
        display: none;
        position: relative;
        width: auto;
        height: 30px;
        font-size: 25px;
        color: black;
        background-color: white;
        cursor: pointer;
        right: 5.4rem;
        top: 1.5rem;
      }
    }
    .nav-list {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 9999;
      overflow-y: auto;
      width: 260px;
      padding-top: 18px;
      background: rgba(19, 39, 57, 0.8);
      transition: 0.4s;
  
      a {
        display: block;
        position: relative;
        color: #ffffff;
        background: transparent;
        padding: 15px 15px;
        transition: 0.3s;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
  
  #intro {
    @include flexbox(column-reverse);
    width: 100%;
    padding: 150px 20px 10px 20px;
    align-items: center;
    .intro-item {
      width: 100%;
      img {
        width: 90%;
      }
      h1 {
        width: 90%;
        text-align: center;
        font-size: 34px;
        padding-bottom: 30px;
      }
    }
    .buttons {
      justify-content: center;
    }
  }
  
  #about {
    .about-header {
      p {
        width: 80%;
      }
    }
    .about-row {
      @include flexbox(column-reverse);
    }
  
    .about-reverse-row {
      @include flexbox(column-reverse);
    }
  
    .about-img > img {
      padding: 2.5rem;
      max-width: 80%;
      height: auto;
    }
  
    .about-item {
      padding-right: 15px;
      padding-left: 15px;
      max-width: 100%;
      p {
        width: 100%;
        font-size: 1.02rem;
      }
    }
  
    .list {
      div {
        p {
          font-size: 14px;
        }
      }
    }
  }
  
  #service {
    .service-header {
      p {
        width: 90%;
      }
    }
    .service-items {
      padding-left: 1%;
      padding-right: 1%;
    }
  }
  
  #choose {
    .choose-header {
      p {
        width: 90%;
      }
    }
  
    .choose-block {
      padding-left: 1%;
      padding-right: 1%;
      > div {
        align-content: center;
        @include flexbox(column);
  
        .choose-items {
          flex: 0 0 30%;
          max-width: 100%;
        }
      }
      .numbers {
        @include flexbox(row);
        max-width: 100%;
        > div {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
  
  #portfolio {
    .portfolio-items {
      > div {
        flex: 0 0 90%;
        max-width: 100%;
      }
    }
  }
  
  #testim {
    .testim-block {
      @include flexbox(column);
      .testim-item {
        width: 80%;
        text-align: center;
        @include flexbox(column);
        img {
          float: none;
          margin: auto;
        }
      }
    }
  }
  
  #team {
    .team-header {
      p {
        width: 85%;
      }
    }
    .team-block {
      @include flexbox(column);
    }
  }
  
  #client {
    .client-header {
      p {
        width: 85%;
      }
    }
    .client-block {
      @include flexbox(column);
      .client-item {
        flex: 0 0 55%;
        max-width: 100%;
      }
    }
  }
  
  #contact {
    .contact-block {
      @include flexbox(column);
      .contact-item {
        margin-top: 20px;
        flex: 1;
        max-width: 90%;
        div {
          @include flexbox(column);
          div {
            @include flexbox(row);
            flex: 1;
            max-width: 90%;
          }
        }
      }
    }
    .submit {
      background: #007bff;
      border: 0;
      border-radius: 20px;
      padding: 8px 20px;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
      align-self: center;
      width: 40%;
    }
  }
  
  #links {
    div {
      @include flexbox(column);
      padding: 20px 0 30px 0;
    }
    .biz-block {
      flex: 1;
      max-width: 90%;
      h1 {
        padding: 1rem;
      }
    }
    .links-block {
      flex: 1%;
      max-width: 100%;
    }
  
    .contactus-block {
      flex: 1%;
      max-width: 100%;
    }
    .social {
      @include flexbox(row);
    }
    .news-block {
      flex: 1%;
      max-width: 98%;
    }
  }
  
  }