* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  line-height: 1.2;
}

.logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.mobile-nav > a {
  display: none;
}

.mobile-nav > span {
  display: none;
  z-index: 1;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 4px 0 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 0 20px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-list a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 200px 120px 120px 120px;
}

#intro .intro-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#intro .intro-item img {
  width: 80%;
}

#intro .intro-item h1 {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 900;
  color: white;
}

#intro .intro-item h1 span {
  color: #74b5fc;
  text-decoration: underline;
}

#intro .intro-item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#intro .intro-item .buttons button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

#intro .intro-item .buttons button:first-child {
  border: 2px solid #007bff;
  background: #007bff;
  color: #fff;
}

#intro .intro-item .buttons button:first-child:hover {
  border: 2px solid #fff;
  color: #007bff;
  background: transparent;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
}

#intro .intro-item .buttons button:last-child {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

#intro .intro-item .buttons button:last-child:hover {
  border: 2px solid #007bff;
  background: #007bff;
  -webkit-transition: 1s;
  transition: 1s;
}

#about {
  background: #fff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#about .about-header {
  text-align: center;
}

#about .about-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#about .about-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-bottom: 2rem;
}

.about-img > img {
  max-width: 100%;
  height: auto;
}

.about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 3rem;
}

.about-item p {
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 26px;
  width: 90%;
}

.about-item h5 {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}

.list div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list div .icon .fa-shopping-bag {
  color: #007bff;
  font-size: 25px;
}

.list div .icon .fa-image {
  color: #007bff;
  font-size: 25px;
}

.list div .icon .fa-chart-bar {
  color: #007bff;
  font-size: 25px;
}

.list div h4 {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

.list div p {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
  width: 85%;
}

#service {
  background: #ecf5ff;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#service .service-header {
  text-align: center;
}

#service .service-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#service .service-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

#service .service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

#service .service-items > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#service .service-items > div .serv-icon {
  position: absolute;
  left: 10px;
  top: calc(50% - 32px);
}

#service .service-items > div .serv-icon .fa-chart-pie {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff689b;
}

#service .service-items > div .serv-icon .fa-bookmark {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #e9bf06;
}

#service .service-items > div .serv-icon .fa-sticky-note {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #3fcdc7;
}

#service .service-items > div .serv-icon .fa-tachometer-alt {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #41cf2e;
}

#service .service-items > div .serv-icon .fa-globe {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d6ff22;
}

#service .service-items > div .serv-icon .fa-clock {
  font-size: 64px;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #4680ff;
}

#service .service-items > div h3 {
  margin-left: 80px;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 18px;
}

#service .service-items > div p {
  font-size: 14px;
  margin-left: 80px;
  line-height: 24px;
  margin-bottom: 0;
}

#choose {
  padding: 60px 0;
  background: #004a99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#choose .choose-header {
  text-align: center;
}

#choose .choose-header h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#choose .choose-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #fff;
  width: 40%;
}

#choose .choose-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

#choose .choose-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#choose .choose-block > div .choose-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

#choose .choose-block > div .choose-items .fa-gem {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items .fa-language {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items .fa-object-group {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#choose .choose-block > div .choose-items > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

#choose .choose-block > div .choose-items > div h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#choose .choose-block > div .choose-items > div p {
  font-size: 15px;
  color: #d8eafe;
  padding: 0;
  margin: 0 0 30px 0;
}

#choose .choose-block > div .choose-items > div a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#choose .choose-block > div .choose-items > div a:hover {
  border-bottom: #00458f solid 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#choose .choose-block .numbers {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
}

#choose .choose-block .numbers > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  text-align: center;
}

#choose .choose-block .numbers > div > span {
  font-weight: bolder;
  font-size: 48px;
  display: block;
  color: #fff;
}

#choose .choose-block .numbers > div > p {
  padding: 1rem;
  font-size: 14px;
  color: #cce5ff;
}

#portfolio {
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#portfolio .portfolio-header {
  text-align: center;
}

#portfolio .portfolio-header h2 {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#portfolio .portfolio-header > div {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio .portfolio-header > div :first-child {
  background: #007bff;
  color: #ecf5ff;
}

#portfolio .portfolio-header > div button {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  background: #ecf5ff;
  border-radius: 50px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}

#portfolio .portfolio-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .portfolio-items > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  max-width: 30%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#portfolio .portfolio-items > div:hover {
  opacity: 0.8;
}

#portfolio .portfolio-items > div:hover .portfolio-info {
  opacity: 1;
}

#portfolio .portfolio-items > div > img {
  border-radius: 10px;
  max-width: 90%;
  height: auto;
}

#portfolio .portfolio-items > div .portfolio-info {
  position: absolute;
  top: 6px;
  right: 16px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#portfolio .portfolio-items > div .portfolio-info > h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#portfolio .portfolio-items > div .portfolio-info > p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 900;
}

#portfolio .portfolio-items > div .portfolio-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#portfolio .portfolio-items > div .portfolio-info > div > div {
  position: relative;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
}

#portfolio .portfolio-items > div .portfolio-info > div > div .fa-eye {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-items > div .portfolio-info > div > div .fa-external-link-alt {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 6px;
  font-size: 22px;
  color: #fff;
}

#testim {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#testim h2 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin-bottom: 40px;
}

#testim > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#testim > div .testim-item {
  margin-bottom: 30px;
  width: 60%;
}

#testim > div .testim-item img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
  margin: 10px;
}

#testim > div .testim-item h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testim > div .testim-item span {
  font-size: 14px;
  color: #999;
  margin: 0 0 5px 0;
}

#testim > div .testim-item blockquote {
  font-style: italic;
}

#team {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .team-header {
  text-align: center;
}

#team .team-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#team .team-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 40%;
}

#team .team-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

#team .team-block div {
  margin-left: 6px;
  margin-right: 6px;
}

#team .team-block div > .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

#team .team-block div > .member:hover .member-info {
  margin-top: 50px;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  opacity: 1;
}

#team .team-block div > .member:hover img {
  opacity: 0.7;
}

#team .team-block div > .member > img {
  max-width: 100%;
  height: auto;
}

#team .team-block div > .member .member-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

#team .team-block div > .member .member-info > h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .team-block div > .member .member-info > span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .team-block div > .member .member-info .icons {
  margin-top: 15px;
}

#team .team-block div > .member .member-info .icons > a {
  -webkit-transition: none;
  transition: none;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  margin: 0 2px;
}

#client {
  background: #ecf5ff;
  padding: 60px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#client .client-header {
  text-align: center;
}

#client .client-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 20px 0;
}

#client .client-header p {
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

#client .client-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
  margin: 0 30px;
}

#client .client-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  cursor: pointer;
}

#client .client-item:hover img {
  max-width: 60%;
}

#client .client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#client .client-logo > img {
  max-width: 50%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#contact .contact-header {
  text-align: center;
}

#contact .contact-header h2 {
  font-size: 36px;
  color: #283d50;
  font-weight: 600;
  position: relative;
  margin: 0 0 30px 0;
}

#contact .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#contact .contact-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

#contact .contact-item iframe {
  border: 0;
  width: 100%;
  height: 312px;
}

#contact .contact-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#contact .contact-item div div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  max-width: 41%;
  color: #283d50;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

#contact .contact-item div div .fa-map-marker-alt {
  font-size: 25px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .contact-item div div .fa-envelope {
  font-size: 25px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .contact-item div div .fa-phone-alt {
  font-size: 25px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .contact-item div div p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 13px;
  margin: 0 0 30px 0;
}

#contact .contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
}

#contact .first-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

#contact .first-input div .input {
  width: 100%;
}

#contact .input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1rem;
}

#contact .input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  display: block;
  width: 85%;
  height: calc(2.25rem + 2px);
  padding: 0 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

#contact textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  display: block;
  width: 85%;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #127fec;
  border: 1px solid #ced4da;
}

#contact .submit {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
}

#contact .submit:hover {
  border: 2px solid #007bff;
  color: #007bff;
  background: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

footer {
  background: #00428a;
  color: #fff;
  text-align: center;
  padding: 3rem;
}
/*# sourceMappingURL=style.css.map */